.login-box{
    width: 570px;
    margin: auto;
}
.google-form{
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 457px;
    
    padding: 30px;
}
.google {
    display: flex;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 1px 15px;
    margin-right: 5px;
    align-items: center;    
}

